<!--            <div class="pagination">-->
<!--                {% block paging %}-->
<!--                    {% if is_paginated %}-->
<!--                    <span class="step-links">-->
<!--                        {% if page_obj.has_previous %}-->
<!--                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>-->
<!--                        {% endif %}-->
<!--                        <span class="current-page">-->
<!--                            Страница {{ page_obj.number }} из {{ paginator.num_pages }}.-->
<!--                        </span>-->
<!--                        {% if page_obj.has_next %}-->
<!--                            <a href="?page={{ page_obj.next_page_number }}">next</a>-->
<!--                        {% endif %}-->
<!--                    </span>-->
<!--                    {% endif %}-->
<!--                {% endblock %}-->
<!--            </div>-->
