
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<section class="hero vh-50">
        <div class="d-flex justify-content-center align-items-center vh-75">
            <h4 class="mb=5">Добро пожаловать {{ user.username }}</h4>
    </div>
    </section>
 <section>

     <div class="">
{% if user.profile_pic %}
    <img class="rounded float-start" src="{{ user.profile_pic.url }}" height=200 width=200>
{% else %}
 <p> Нет изображения </p>
{% endif %}
</div>

 <div class="d-flex flex-row-reverse bd-highlight">
        <div class="col-6 col-md-5 col-lg-5 ps-0 ps-md-2 ps-lg-4">
            <p class="p-2 bd-highlight"> Имя: {{ user.first_name }} </p>
            <p class="p-2 bd-highlight">Фамилия {{ user.last_name }}</p>
            <p class="p-2 bd-highlight">Дата рождения: {{ user.birth_date }} </p>
            <a class="p-2 bd-highlight" href="{{ user.mail }}"> Ваш email</a> <br>
        </div>
    </div>
    </section>

    <a href="{% url 'logout' %}" class="h-75 btn btn-primary me-md-2" type="button">Выход</a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>

