{% extends 'base.html' %}



{% block content %}
<div class="">
    <div class="layout">
                    <h3 class="text">Get the quote!</h3>
                    <p></p>
                    <form action="">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                        <button type="submit"></button>
                    </form>
    </div>

{% endblock %}
