{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="hero  vh-100">
    <div class="container d-flex align-items-center h-75">
        <div class="col-12 col-md-8 col-lg-5 ps-0 ps-md-2 ps-lg-4">
            <h1>The companion app for your book shelf</h1>
            <a href="{% url 'register' %}" class="w-100 w-md-50 w-lg-75 btn btn-dark">Create your account</a>
            <p>Already a member <a href="{% url 'login' %}">Sign in.</a></p>
        </div>
    </div>
</section>


<section class="custom-back d-flex col-12 flex-column justify-content-center align-items-center">
    <h4 class="text-center fs-1 w-25">Unlock yor personal statistic</h4>

    <div class="container col-12 d-flex align-items-center justify-content-center text-center">
        <img class="col-7" src="{% static 'home/images/example_win.png' %}"
             alt="">
    </div>

</section>

<section class="custom-back d-flex col-12 justify-content-center align-items-center">
    <div class="d-flex container col-12 ">
        <div class="custom-back d-flex flex-column col-6 justify-content-center align-items-center">
            <h4 class="text-center fs-1 w-50">Create custom collections</h4>

            <div class="container col-12 d-flex align-items-center justify-content-center text-center">
                <img class="col-5" src="{% static 'home/images/example_win2.png' %}"
                     alt="">
            </div>
        </div>

        <div class="custom-back d-flex flex-column col-6 justify-content-center align-items-center">
            <h4 class="text-center fs-1 w-50">Read community reviews or leave one of your own</h4>

            <div class="container col-12 d-flex align-items-center justify-content-center text-center">
                <img class="col-5" src="{% static 'home/images/example_win3.png' %}"
                     alt="">
            </div>
        </div>
    </div>
</section>


<section class="block-1  vh-100">


    <div class="container d-flex align-items-center justify-content-center text-center vh-100">
        <div class="col-12 col-md-8 col-lg-5 ps-0 ps-md-2 ps-lg-4">
            <h2 class="d-flex justify-content-center fs-1">Meet the team</h2>
            <div class="mb-5"> As three friends scattered throughout Europe, we
                were looking for a way to discover books and share our own recommendations. Nothing cut the mustard, so
                we took the challenge on. We may not have deep pockets or lots of time, but we're willing to bet we can
                make up for it by working smart and taking pride in our work.
            </div>
            <div class="row">
                <div class="col-12 col-sm-4 col-lg-4">
                    <img class="col-7" src="{% static 'home/images/girl.webp' %}"
                         alt="">
                    <h3 class="fs-5">Yavor Punchev & Fuji</h3>
                    <div>Sofia, Bulgaria</div>
                </div>
                <div class="col-12 col-sm-4 col-lg-4">
                    <img class="col-7" src="{% static 'home/images/ant.webp' %}"
                         alt="">
                    <h3 class="fs-5">Joe Alcorn</h3>
                    <div>London, United Kingdom</div>
                </div>
                <div class="col-12 col-sm-4 col-lg-4">
                    <img class="col-7" src="{% static 'home/images/incognito.webp' %}"
                         alt="">
                    <h3 class="fs-5">Aziz Firat</h3>
                    <div>Oslo, Norway</div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="block-2  vh-100">
    <div class="container d-flex align-items-center justify-content-center text-center vh-100">
        <div class="col-12 col-md-8 col-lg-5 ps-0 ps-md-2 ps-lg-4">
            <h2 class="d-flex justify-content-center fs-1">Ready to join us?</h2>
            <div class="fs-4 py-4">Oku is the companion app for your bookshelf.</div>
            <div class="fs-6 py-4">Become a member for to track? rate & rewiew your favorite books with a community of
                others.
            </div>
            <a href="{% url 'register' %}" class="p-2 w-50 w-md-50 w-lg-50 btn btn-dark">Create a free account</a>
        </div>
    </div>
</section>

<section class="block-3  vh-100">
    <div class="container d-flex align-items-center justify-content-center text-center vh-100">
        <div class="col-12 col-md-8 col-lg-5 ps-0 ps-md-2 ps-lg-4">
            <h2 class="d-flex justify-content-center fs-1">Meet the team</h2>
            <div class="mb-5"> As three friends scattered throughout Europe, we
                were looking for a way to discover books and share our own recommendations. Nothing cut the mustard, so
                we took the challenge on. We may not have deep pockets or lots of time, but we're willing to bet we can
                make up for it by working smart and taking pride in our work.
            </div>


            <div>full_name |image |city |country</div>

            <div class="row">
                {% for member in team %}

                <div class="col-12 col-sm-4 col-lg-4 py-4">
<!--                    <div style="object-fit:cover" class="h-50 w-100 d-flex align-items-center justify-content-center">-->
                        <img style="object-fit:cover" class="h-100 w-100 d-flex align-items-center justify-content-center" src="{{ member.image.url }}"
                             alt="">
                        {# member.image.url #}
<!--                    </div>-->
                    <h3 class="fs-5">{{ member.full_name }}</h3>
                    <div >{{ member.city }}, {{ member.country }}</div>
                </div>

                {% endfor %}
            </div>

        </div>
    </div>
</section>
{% endblock content %}

