
body {
    background: #242627;
    /* padding-top: 23px;
    padding-left: 128px;
    padding-right: 128px; */
}

header {
    padding-top: 23px;
}

section {
    padding-top: 23px;
    padding-left: 128px;
    padding-right: 128px;
}
.text_1 {
    color: #04C1C1;
}
.nav_1 {
    border-bottom: 1px solid #04C1C1;
}
.container_1 {
    padding-left: 128px;
    padding-right: 128px;
    font-family: Gotham Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container_2 {
    font-family: Playfair Display;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 107%; /* 57.78px */
}

.container_3 {
    background: var(--electric-gradient, linear-gradient(262deg, #04C1C1 -1.66%, #9BE3E3 -1.65%, #04C1C1 64.99%));
    height: 135px;
    width: 630px;
}

.btn {
    background: black;
}

.container_4 {
    background: black;
    width: 630px;
}

.text_2 {
    color: #676767;
}

.text_5 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.frame {
    background: black;
    width: 330px;
    height: 126px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_3 {
    text-decoration: none;
    color: #63DEA6;
}

.text_4 {
    text-decoration: none;
    color: #04C1C1;
}

.container_6 {
    display: flex;
    justify-content: space-around;
}

.bord_1 {
    border-bottom: 1px solid #63DEA6;
    margin-right: 40px;
    padding-top: 19px;
    padding-bottom: 19px;
}

.bord_2 {
    border-bottom: 1px solid #04C1C1;
    margin-left: 40px;
    padding-top: 19px;
    padding-bottom: 19px;
}

footer {
    padding-top: 60px;
    background: black;
    padding-bottom: 25px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    margin: 0;
    padding: 0;
}

.foot_1 {
    margin-left: 126px;
    display: flex;
    flex-direction: column;
}

.main_foot {
    display: flex;
    justify-content: space-between;
}

.img_foot {
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
}

.foot_3 {
    margin-right: 127px;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

.foot_4 {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 250%;
}

.foot_5 {
    line-height: 250%;
}

.foot_text {
    padding-left: 5px;
}

.foot_text1 {
    padding-left: 25px;
}


.card {
  width: 305px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Размещаем элементы в колонку */
  justify-content: space-between;
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
}
.card__top {
  flex: 0 0 220px;
  position: relative;

}
.card__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card__image {
  display: block;

}

.card__bottom {
  background-color: #111010;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;

}
.card__add-basket {

  width: 13px;
  height: 13px;
  padding: 5px;
  border: 1px solid #04c1c1;
  margin-right: 30px;

}
.white {
color: #fff
}

