
body {
    background: #242627;
    /* padding-top: 23px;
    padding-left: 128px;
    padding-right: 128px; */
}

header {
    padding-top: 23px;
}

section {
    padding-top: 23px;
    padding-left: 128px;
    padding-right: 128px;
}
.text_1 {
    color: #04C1C1;
}
.nav_1 {
    border-bottom: 1px solid #04C1C1;
}
.container_1 {
    padding-left: 128px;
    padding-right: 128px;
    font-family: Gotham Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container_2 {
    font-family: Playfair Display;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 107%; /* 57.78px */
}

.container_3 {
    background: var(--electric-gradient, linear-gradient(262deg, #04C1C1 -1.66%, #9BE3E3 -1.65%, #04C1C1 64.99%));
    height: 135px;
    width: 630px;
}

.btn {
    background: black;
}

.container_4 {
    background: black;
    width: 630px;
}

.text_2 {
    color: #676767;
}

.text_5 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.frame {
    background: black;
    width: 330px;
    height: 126px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_3 {
    text-decoration: none;
    color: #63DEA6;
}

.text_4 {
    text-decoration: none;
    color: #04C1C1;
}

.container_6 {
    display: flex;
    justify-content: space-around;
}

.bord_1 {
    border-bottom: 1px solid #63DEA6;
    margin-right: 40px;
    padding-top: 19px;
    padding-bottom: 19px;
}

.bord_2 {
    border-bottom: 1px solid #04C1C1;
    margin-left: 40px;
    padding-top: 19px;
    padding-bottom: 19px;
}

footer {
    padding-top: 60px;
    background: black;
    padding-bottom: 25px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    margin: 0;
    padding: 0;
}

.foot_1 {
    margin-left: 126px;
    display: flex;
    flex-direction: column;
}

.main_foot {
    display: flex;
    justify-content: space-between;
}

.img_foot {
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
}

.foot_3 {
    margin-right: 127px;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

.foot_4 {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 250%;
}

.foot_5 {
    line-height: 250%;
}

.foot_text {
    padding-left: 5px;
}

.foot_text1 {
    padding-left: 25px;
}


.card {
  width: 305px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Размещаем элементы в колонку */
  justify-content: space-between;
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
}
.card__top {
  flex: 0 0 220px;
  position: relative;

}
.card__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card__image {
  display: block;

}

.card__bottom {
  background-color: #111010;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;

}
.card__add-basket {

  width: 13px;
  height: 13px;
  padding: 5px;
  border: 1px solid #04c1c1;
  margin-right: 30px;

}

.body_quote {
  width: 477.42px;
  height: 744.6px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0 0 0 0;
}
.text_quote_h1 {
  width: 387.42px;
  height: 65.6px;
  text-align: center;
  padding-top: 44px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 44px;

  color: white;
  font-family: Playfair Display;
  font-weight: 500;
  font-size: 54px;
  line-height: 58.16px;
}

.text_Get_the_quote {
  width: 387.42px;
  height: 65.6px;
  margin-top: 0;
  margin-bottom: 0px;
}

.color_quote {
  color: #04c1c1;
}

.text_text_ {
  width: 376.23px;
  height: 64px;
  color: #c8c8c8;

  font-family: Radio Canada;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.text_Fill_the_contact {
  width: 376px;
  height: 64px;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: 52px;
}

.form_quote{
  width: 387.42px;
  height: 447px;
  margin-left: 40px;
  margin-top: 10px;


}

.input_quote {
width: 387.42px;
height: 55px;
background-color: black;
margin-top: 20px;
color: rgb(255, 255, 255);
border: 1px solid #c4bbbbc4;
text-indent: 20px;

}

.textarea_quote {
  text-indent: 20px;
  width: 387.42px;
  height: 142px;
  background-color: black;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  border: 1px solid #c4bbbbc4;

}

.button_quote_send {
  font-weight: 600;
  font-size:larger;
  text-align: end;
  background-color: rgb(30, 209, 161);
  width: 122px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.div_button_green {
  margin-left: 265.42px;
  margin-top:20px;
}

