{% load static %}
<footer>
    <div class="main_foot">
        <ul class="foot_1">
            <li class="text-light text-decoration-none" href="">info@sgtrade.lt</li>
            <li class="text-light text-decoration-none"  href="">+370 613 15 157</li>
            <li class="text-light">Registry code: 305937503</li>
            <li class="text-light">VAT nr: LT100015566211</li>
            <li class="text-light">Address: J.J Krasevskio st. 7-1, Vilnius,<br> LT- 08118, Lithuania</li>
        </ul>
        <ul class="foot_2">
            <img src="{% static 'img/Framestartglobaltrade.png' %}" alt="">
            <ul class="img_foot">
                <li>
                    <img src="{% static 'img/Frame.png' %}" alt="">
                </li>
                <li>
                    <img src="{% static 'img/whatsapp-icon-seeklogo.com.png' %}" alt="">
                </li>
                <li>
                    <img src="{% static 'img/facebook-new-2019-seeklogo.com-3.png' %}" alt="">
                </li>
                <li>
                    <img src="{% static 'img/linkedin-new-2020-seeklogo.com.png' %}" alt="">
                </li>
                <li>
                    <img src="{% static 'img/Frame (1).png' %}" alt="">
                </li>
            </ul>
        </ul>
        <ul class="foot_3">
            <ul class="foot_4">
                <li>
                    <img src="{% static 'img/address-book2.png' %}" alt="">
                    <a class="foot_text" href="">Contacts</a>
                </li>
                <li>
                    <img src="{% static 'img/Frame 75.png' %}" alt="">
                    <a class="foot_text" href="">About Us</a>
                </li>
                <li>
                    <img src="{% static 'img/stars.png' %}" alt="">
                    <a class="foot_text" href="">Import/Export</a>
                </li>
                <li>
                    <img src="{% static 'img/news.png' %}" alt="">
                    <a class="foot_text" href="">News</a>
                </li>
            </ul>
            <ul class="foot_5">
                <li>
                    <img src="{% static 'img/layout-grid.png' %}" alt="">
                    <a class="foot_text" href="">Catalog</a>
                </li>
                <li>
                    <a class="foot_text1" href="">Beverages</a>
                </li>
                <li>
                    <a class="foot_text1" href="">Confectionary</a>
                </li>
                <li>
                    <a class="foot_text1" href="">Alcohol</a>
                </li>
            </ul>
        </ul>
    </div>
</footer>