{% load static %}
<header>
    <div class="container">
        <ul class="d-flex justify-content-between">
            <li class="nav_1 d-flex justify-content-between align-items-center px-3">
                <img src="{% static 'img/clipboard-list.png' %}" alt="">
                <a class="text_1 text-decoration-none px-2" href="">Get the quote</a>
            </li>
            <li>
                <img src="{% static 'img/Framestartglobaltrade.png' %}" alt="">
            </li>
            <li>
                <img src="{% static 'img/menu-2.png' %}" alt="">
            </li>
        </ul>
    </div>
</header>