{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
        <div class="row col-12 col-xl-11 p-2">
            {% for news in news_list %}
                <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-3">
                    <div class="card p-2" >
                        <img src="{{ MEDIA_ROOT }}{{ news.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <p class="card-text">{{ news.text }}</p>
                        <a href="{% url 'news_detail' news.id %}" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row col-12 col-xl-1 ">sidebar</div>
    </div>
</div>
{% endblock content %}