{% extends "base.html" %}
{% block content %}
  <div class="container vh-100">
    <div class="row row-cols-1 row-cols-md-4 g-4 h-55">
        <div class="col">
                <div class="h-100">
                  <div class="align-items-center justify-content-center">
                        <img src="{{ MEDIA_ROOT }}{{ news.image.url }}" height="550" width="550" class="img-thumbnail" alt="...">
                  </div>
                  <div class="align-items-center justify-content-center">
                       <h5 class="">{{ news.title }}</h5>
                        <p class="">{{ news.text }}</p>
                  </div>


                </div>
        </div>
    </div>
</div>
{% endblock content %}