{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
            <div class="col-md-3">
               <div class="card mb-4 h-100 border-dark" style="max-width: 22rem;">
                   <a class="" href="{% url 'product_detail' product.id %}">
                   <img src="{{ MEDIA_ROOT }}{{ product.image.url }}" height="350" width="350" class="card-img-top custom_img" alt="foto">
                   </a>
                   <div class="card-body custom_card-body">
                        <h4 class="card-title custom_h4">{{ product.title }}</h4>
                        <p class="card-text custom_p">{{ product.date_add|date:"d.m.Y" }}</p>
                       {% if user.is_staff %}
                       {% endif %}
                        <a class="d-flex justify-content-center custom_link" href="{% url 'product_delete' product.pk %}">Delete</a>
                   </div>
               </div>
            </div>
        {% empty %}
        <p>No products available.</p>
        {% endfor %}
    </div>
    <a href="{% url 'product_create' %}">Create a new product</a>
</div>

{% endblock content %}