{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container_1 pt-5">
        <a class="text-decoration-none text-light" href="">Home - Beverages</a>
        <a class="text-decoration-none text-light text-white-50" href="">- {{ products.title }}</a>
    </div>
    <section class="pt-5">
        <div class="container_2 text-light">
            <h1 class="fw-bold">{{ products.title }}</h1>
        </div>
        <div class="row pt-5">
            <div class="col-6">
                <img src="{{ products.image.url }}" alt="" width="630px" height="573px">
            </div>
            <div class="col-6">
                <div class="container_3 d-flex justify-content-around align-items-center">
                    <a class="text_5 text-decoration-none text-dark" href="">In Stock!</a>
                    <button class="btn text-light">
                        <img src="{% static 'img/sendsend.png' %}" alt="">
                        Send Request
                    </button>
                </div>
                <div>
                    <h3 class="text-light mt-4">Features</h3>
                </div>
                <div class="container_4 mt-4 px-5 py-5">
                    <div class="row">
                        <div class="col-6">
                            <img src="{% static 'img/3d-cube-sphere.png' %}" alt="">
                            <a class="text_2 text-decoration-none" href="">1 pcs. Volume:</a>
                            <p class="text-light">{{ products.volume }}</p>
                        </div>
                        <div class="col-6">
                            <img src="{% static 'img/truck-delivery.png' %}" alt="">
                            <a class="text_2 text-decoration-none" href="">Delivery time:</a>
                            <p class="text-light">{{ products.delivery }}</p>
                        </div>
                        <div class="col-6">
                            <img src="{% static 'img/package.png' %}" alt="">
                            <a class="text_2 text-decoration-none" href="">Packaging:</a>
                            <p class="text-light">{{ products.packaging }}</p>
                        </div>
                        <div class="col-6">
                            <img src="{% static 'img/window-minimize.png' %}" alt="">
                            <a class="text_2 text-decoration-none" href="">Minimal order:</a>
                            <p class="text-light">{{ products.minimal_order }}</p>
                        </div>
                        <div class="col-6">
                            <img src="{% static 'img/weight.png' %}" alt="">
                            <a class="text_2 text-decoration-none" href="">Netto weight:</a>
                            <p class="text-light">{{ products.netto }} kg.</p>
                        </div>
                        <div class="col-6">
                            <img src="{% static 'img/barcode.png' %}" alt="">
                            <a class="text_2 text-decoration-none" href="">Barcode:</a>
                            <p class="text-light">{{ products.barcode }}</p>
                        </div>
                        <div class="col-6">
                            <img src="{% static 'img/weight (1).png' %}" alt="">
                            <a class="text_2 text-decoration-none" href="">Brutto weight:</a>
                            <p class="text-light">{{ products.brutto }} kg.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h2 class="text-light mt-5">Logistics</h2>
            </div>
            <div class="container_5 mt-4">
                <div class="row row-cols-auto">
                    <div class="frame col-3">
                        <a class="text_2 text-decoration-none" href="">PCS / truck</a>
                        <p class="text-light">{{ products.pcs_truck }}</p>
                    </div>
                    <div class="frame col-3">
                        <a class="text_2 text-decoration-none" href="">Pallets / truck</a>
                        <p class="text-light">{{ products.pallets_truck }}</p>
                    </div>
                    <div class="frame col-3">
                        <a class="text_2 text-decoration-none" href="">Total QTY / cases / truck</a>
                        <p class="text-light">{{ products.cases_truck }}</p>
                    </div>
                    <div class="frame col-3">
                        <a class="text_2 text-decoration-none" href="">Gross weight, kg</a>
                        <p class="text-light">{{ products.gross_weight }}</p>
                    </div>
                </div>
            </div>
            <div>
                <h2 class="text-light mt-5">Product Description</h2>
            </div>
            <div class="text-light mt-4">
                {{ products.description }}
            </div>
            <div>
                {% if average_rating %}
                    <p>Рейтинг: {{ average_rating }}</p>
                {% endif %}
                <h2>Отзывы</h2>
                    {% for review in reviews %}
                        <div class="review">
                            <p>{{ review.user.username }} , {{ review.date_added }}</p>
                            <p>{{ review.text }}</p>
                        </div>
                    {% empty %}
                        <p>Нет отзывов...</p>
                    {% endfor %}

                <h2>Добавить отзыв</h2>
                <form method="post" action="{% url 'add_review' product.pk %}">
                    {% csrf_token %}
                    {{ review_form.as_p }}
                    <button type="submit">Добавить</button>
                </form>

                <h2>Добавить рейтинг</h2>
                <form method="post" action="{% url 'add_rating' product.pk %}">
                    {% csrf_token %}
                    {{ rating_form.as_p }}
                    <button type="submit">Добавить</button>
                </form>
            </div>
        </div>
    </section>
    <section class="mt-5">
        <div>
            <h2 class="text-light d-flex justify-content-center">Get the&nbsp;<span style="color:#04C1C1">quote!</span></h2>
            <p class="text-light d-flex justify-content-center">info@sgtrade.lt</p>
            <p class="text-light d-flex justify-content-center">+370 613 15 157</p>
        </div>
        <div class="container_6">
            <ul class="d-flex justify-content-between">
                <li class="bord_1">
                    <img src="{% static 'img/address-book.png' %}" alt="">
                    <a class="text_3" href="">All contacts</a>
                </li>
                <li class="bord_2">
                    <img src="{% static 'img/send.png' %}" alt="">
                    <a class="text_4" href="">Send Request</a>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <img src="{% static 'img/Ресурс 1world 1.png' %}" alt="">
        </div>
    </section>
{% endblock content %}